services:
  - type: web
    name: guessify-server
    env: node
    plan: free
    branch: main

    rootDir: server

    buildCommand: npm install
    startCommand: npm start

    envVars:
      - key: NODE_ENV
        value: production
